@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    margin: 0;
    font-family: 'Roboto',
        sans-serif;
    background: linear-gradient(to right, rgba(17, 42, 56, 0.377), rgba(192, 192, 192, 0.377)), url("https://images.unsplash.com/photo-1508859797887-28da50f604f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-attachment: fixed;
}

h1 {
    margin: 0 0 12px;
    background: linear-gradient(45deg, rgba(93, 149, 221, 0.65), rgba(53, 22, 163, .25)),
        url("https://images.pexels.com/photos/921259/pexels-photo-921259.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    padding: 20px 40px;
    background-size: cover;
    color: white;
    text-shadow: 0 0 20px black;
    font-size: calc(20px + 2vw);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    margin: 6px 0;
}

h4 {
    margin: 10px 0 4px;
}

div.bar {
    display: block;
    height: 20px;
    background: rgb(224, 224, 224);
    background-color: #bdbdbd;
    background-image: linear-gradient(43deg, #bdbdbd 0%, #dbdada 100%);
    width: 200px;
    border-radius: 6px;
    margin: 2px 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5)
}

div.bar_inner {
    display: block;
    height: 20px;
    border-radius: 6px;
}

div.bar_inner.D {
    background-color: #400fe9;
    background-image: linear-gradient(43deg, #400fe9 0%, #4dc0e4 100%);
}

div.bar_inner.R {
    background-color: #e90f60;
    background-image: linear-gradient(43deg, #e90f60 0%, #e4714d 100%);
}

div.bar_inner.I {
    background-color: #c6c4d0;
    background-image: linear-gradient(43deg, #a6a5ac 0%, #b9b9b9 100%);
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: 1 1 240px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 20px;
    border-radius: 10px;
}

.dem_win {
    background-color: blue;
}

.rep_win {
    background-color: rgb(255, 0, 0);
}

.ind_win {
    background-color: rgb(92, 92, 92);
}